<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>image</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"> 

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body class="m-5">
   <div class="container">
       <div class="row justify-content-center">
           <div class="col">
               <a href="javascript:history.go(-1);" class="btn btn-dark my-3 btn-sm" role="button">Go Gallery</a>
                <div style="height: 90wh;">
                    <img style="max-width: 25%; max-height:25%;" 
                    src="{{ img.image.url }}"
                    alt="Cute puppy">
                    <p>
                        {{ img.description }}
                    </p>
                </div>
            </div>
            
       </div>
       <div class="row">
           {% for i in mulimgs %}
           <div class="col-md-3">
               <a href="">
            <div class="card">
                <img class="image-sty w-75"
                src="{{ i.multimage.url }}"
                alt="multimage">
                <div class="card-body">
                    <p>
                    {{ i.price }}
                    </p>
                </div>
            </div>
                </a>
            </div>
           {% empty %}
           <h2>No Photos</h2>
           {% endfor %}
       </div>
   </div>
</body>
</html>