<html lang="en">
    <head>
        <title>
            Image
        </title>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"> 

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
        <body>
            <div class="container ">
                <h3 class="alert alert-danger text-center">
                    ***************
                </h3>
                <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    
                    <div class="row">
                            <a href="{% url 'load_profile_page' %}" role="button" class="btn btn-info w-100">
                                Image Upload**
                            </a>
                            <br>
                            <a href="{% url 'pro_home' %}" role="button" class="btn btn-success w-100 mt-5">
                                Multiple Image Upload**
                            </a>
                            <br>
                            <a href="{% url 'gallery' %}" role="button" class="btn btn-warning w-100 mt-5">
                                <b>Go To Gallery</b>
                            </a>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
            </div>
        </body>
        </html>